#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.card-section {
  padding: 1.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #f8f9fa;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section-title {
  margin-bottom: 1rem;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 1rem;
}

.message-text {
  color: green;
  font-weight: bold;
  text-align: center;
}
